:root {
	--main-color: #FFFF00;
	--btn-text: #000000;
	--p-text: #f44336;
}


* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

.stop-scroll {
	overflow-y: hidden;
}

.container {
	height: 100vh;
	width: 100%;
}

.hero {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	background: url(/img/background.jpg) no-repeat 70%/cover;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span {
	color: var(--main-color);
}

nav ul li {
	list-style-type: none;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 10px 25px;
}

nav ul li a {
	color: var(--btn-text);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover {
	color: var(--main-color);
	transition: .4s;
}

/* .btn {
	background-color: var(--main-color);
	color: var(--btn-text);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}

.btn:hover {
	transform: scale(1.2);
	color: var(--p-text);
} */

.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

h1 {
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
	max-width: 400px;
}

h3 {
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}

h4 {
	color: var(--p-text);
	letter-spacing: 2px;
	font-size: 20px;
}

.newslatter form {
	width: 380px;
	max-width: 100%;
	position: relative;
}

.newslatter form input:first-child {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid var(--main-color);
	outline: none;
	border-radius: 30px;
}

.newslatter form input:last-child {
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: var(--main-color);
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}

.about {
	height: 100%;
	width: 100%;
	padding-top: 50px;
	background-color: #191919;
	scroll-snap-align: start;
}

.about img {
	height: auto;
}

.about-text {
	width: 550px;
	margin: 0 40px;
}

.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text h5 {
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

.about-text p {
	color: var(--p-text);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button {
	background-color: var(--main-color);
	color: var(--btn-text);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

button:hover {
	background-color: transparent;
	border: 2px solid var(--main-color);
	cursor: pointer;
	color: var(--p-text);
}

.skills {
	background: #101010;
	width: 100%;
	padding: 80px 0px;
}

.title h2 {
	color: white;
	font-size: 75px;
	/* width: 1130px; */
	margin: 30px auto;
	text-align: center;
}

.box {
	display: flex;
	flex-wrap: wrap;
	max-width: 1440px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	transform-style: preserve-3d;
	transform: perspective(1000px);
	transform: translateZ(20px);
}

.card,
.works__card {
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: var(--main-color);

}

h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p {
	color: var(--p-text);
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button {
	background-color: var(--main-color);
	color: var(--btn-text);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
}

.card .button:hover {
	background-color: transparent;
	border: 2px solid var(--main-color);
	cursor: pointer;
	color: var(--p-text);
}

.skills__item-img {
	display: block;
	align-items: center;
	min-height: 65px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.works {
	position: relative;
	background: #191919;
	width: 100%;
	padding: 20px 0px;
}

.works__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.works .button {
	display: block;
	background-color: var(--main-color);
	color: var(--btn-text);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	margin-top: 30px;
	padding: 9px 12px;
	border-radius: 30px;
	transition: .4s;
}

.works .button:hover {
	background-color: transparent;
	border: 2px solid var(--main-color);
	cursor: pointer;
	color: var(--p-text);
}

.works__box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.works__item img {
	max-width: 100%;
	aspect-ratio: 16/9;
	object-fit: contain;
}

.works__item:hover>img {
	transition: all .9s;
	transform: scale(5.1);
}


.shown {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 800px;
	height: auto;
}

.price__slider {
	background: #101010;
	overflow: hidden;
	margin: 0;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center
}

.slider-container {
	width: 80%;
	display: flex;
	padding: 0 20px
}

.slide {
	height: 80vh;
	border-radius: 20px;
	margin: 15px;
	cursor: pointer;
	color: #faebd7;
	text-shadow: 2px 2px 2px #000;
	flex: 1;
	background: center/cover no-repeat;
	position: relative;
	transition: all .5s ease-in-out
}

.slide h3 {
	visibility: hidden;
	position: absolute;
	font-size: 12px;
	bottom: 20px;
	left: 20px;
	margin: 0
}

.slide h2 {
	visibility: hidden;
	position: absolute;
	font-size: 10px;
	bottom: 90px;
	left: 40px;
	margin: 0
}

.slide p {
	visibility: hidden;
	position: absolute;
	font-size: 8px;
	top: 20px;
	left: 20px;
	margin: 0
}

.slide.activeslide {
	flex: 13
}

.slide.activeslide h3 {
	visibility: visible;
	font-size: 22px;
	transition: font-size .3s ease-in .2s
}

.slide.activeslide h2 {
	visibility: visible;
	font-size: 28px;
	transition: font-size .3s ease-in .2s
}

.slide.activeslide p {
	visibility: visible;
	font-size: 28px;
	transition: font-size .3s ease-in .2s
}


.contact-me {
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contact-me p {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.contact-me .button-two {
	background-color: var(--main-color);
	color: var(--btn-text);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.contact-me .button-two:hover {
	background-color: transparent;
	border: 2px solid var(--main-color);
	cursor: pointer;
	color: var(--p-text);
}

.contacts__phone-link {
	text-decoration: none;
}

footer {
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p:nth-child(1) {
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2) {
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social {
	display: flex;
}

.social a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--main-color);
	border-radius: 50%;
	margin: 22px 10px;
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover {
	transform: scale(1.3);
	transition: .3s;
}

.end {
	position: absolute;
	color: var(--main-color);
	bottom: 35px;
	font-size: 14px;
}